.custom-blue{
    background-color: var(--blue-950);
}

.spantitle{
    color: transparent;
    -webkit-text-stroke: 1px var(--blue-300);
}

@media (min-width: 992px){
    .lg-fs{
        font-size: 1.1rem;
    }
}

.navbar .dropdown-menu.show {
    min-width: inherit;
    display: inline-block;
}