.custom-blue{
    background-color: var(--blue-950);
}

.custom-white{
    color: white;
}

.custom-green{
    color: aquamarine;
}


@media (min-width: 992px){
    .lg-fs{
        font-size: 1.1rem;
    }
}

.navbar .dropdown-menu.show {
    min-width: inherit;
    display: inline-block;
}